# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
.venv/
kaggle.json

# Dataset
datasets/

# Node
node_modules/
dist/
.DS_Store

# Models (Too large/Redundant for GitHub)
*.pth
ml_pipeline/*.pth
backend/models/

# Large Model Data Directories
ml_pipeline/Scut/
ml_pipeline/CelebA/
ml_pipeline/HuggingFace/

# IDE
.vscode/
.idea/

# Local Data
local_*.json
